<app-top-app-bar [title]="group?.title" type="back" (navClick)="navigateBack()">

</app-top-app-bar>

<ion-content>
  <div class="mdc-top-app-bar--fixed-adjust content">

    <div class="mdc-tab-bar" role="tablist">
      <div class="mdc-tab-scroller">
        <div class="mdc-tab-scroller__scroll-area mdc-tab-scroller__scroll-area--scroll">
          <div class="mdc-tab-scroller__scroll-content">
            <button class="mdc-tab mdc-tab--active" role="tab" aria-selected="true" tabindex="0" (click)="showList()">
              <span class="mdc-tab__content">
                <span class="mdc-tab__text-label">List</span>
              </span>
              <span class="mdc-tab-indicator mdc-tab-indicator--active">
                <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
              </span>
              <span class="mdc-tab__ripple"></span>
            </button>
            <button class="mdc-tab" role="tab" aria-selected="false" tabindex="-1" (click)="showMap()">
              <span class="mdc-tab__content">
                <span class="mdc-tab__text-label">Map</span>
              </span>
              <span class="mdc-tab-indicator">
                <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
              </span>
              <span class="mdc-tab__ripple"></span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div [ngSwitch]="currentTab" class="tab-flex">

      <div ng-if="group?.points >= 1" *ngSwitchCase="'map'" class="tab-flex">
        <div ng-if="group?.points >= 1" >
          <app-map [points]="group?.points"></app-map>
        </div>
        <div ng-if="group?.points == 0" class="group-empty-msg">
          <h2 class="mdc-list-item__text">This group is empty</h2>
          <p class="mdc-list-item__text">Save a pin and it will show up here. </p>
        </div>
      </div>

      <div *ngSwitchCase="'list'">
        <ul class="mdc-list" aria-orientation="vertical">
          <li ng-if="group?.points >= 1" class="mdc-list-item" *ngFor="let point of group?.points" (click)="editPoint(point.id)">
            <span class="mdc-list-item__text">{{ point.title }}</span>
            <span class="mdc-list-item__text">{{ point.description }}</span>
          </li>
          <li ng-if="group?.points == 0" class="group-empty-msg">
            <h2 class="mdc-list-item__text">This group is empty</h2>
            <p class="mdc-list-item__text">Save a pin and it will show up here. </p>
          </li>
        </ul>
      </div>
    </div>

    <button class="mdc-fab app-add-new-fab" (click)="addNewPoint()">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0V0z"/><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
    </button>
  </div>

</ion-content>
