
.content {
  display: flex;
  height: calc(100% - 15px);
}

.content > app-map {
  flex: 1 1 auto;
}

.select-point-button {
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: calc(100% - 30px);
  height: 48px;
}