<div class="edit-view-container mdc-top-app-bar--fixed-adjust">
  <div class="edit-view-map">
    <app-map style="min-height: 200px;"></app-map>
  </div>
  <div class="edit-view-content">

    <div class="mdc-text-field mdc-text-field--outlined edit-view-textfield">
      <input class="mdc-text-field__input" type="text" id="uaqvbIDc4">
      <label class="mdc-floating-label" for="uaqvbIDc4">Title</label>
      <div class="mdc-notched-outline"><svg>
        <path class="mdc-notched-outline__path"></path>
      </svg></div>
      <div class="mdc-notched-outline__idle"></div>
    </div>

    <div class="mdc-text-field mdc-text-field--textarea edit-view-textfield">
      <textarea class="mdc-text-field__input" type="text" id="uaqvbIDc5"></textarea>
      <label class="mdc-floating-label" for="uaqvbIDc5">Description</label>
    </div>

    <!--<div class="edit-view-subscribed">-->
      <!--<label for="checkbox-1">Subscribed</label>-->
      <!--<div class="mdc-checkbox">-->
        <!--<input type="checkbox"-->
               <!--class="mdc-checkbox__native-control"-->
               <!--id="checkbox-1"/>-->
        <!--<div class="mdc-checkbox__background">-->
          <!--<svg class="mdc-checkbox__checkmark"-->
               <!--viewBox="0 0 24 24">-->
            <!--<path class="mdc-checkbox__checkmark-path"-->
                  <!--fill="none"-->
                  <!--d="M1.73,12.91 8.1,19.28 22.79,4.59"/>-->
          <!--</svg>-->
          <!--<div class="mdc-checkbox__mixedmark"></div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->

  </div>
</div>