@import '../../theme/ll-theme';
@import '@material/textfield/mdc-text-field';
@import '@material/checkbox/mdc-checkbox';

.edit-view-container {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.edit-view-map {
  flex: 1 1 auto;
  min-height: 200px;
}

.edit-view-textfield {
  display: flex;
  margin: 10px 0;
}

.edit-view-subscribed {
  display: flex;
  justify-content: space-around;

  label {
    margin: auto 0;
  }
}
